@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html,
body {
}

/*FONTS*/

@font-face {
  font-family: Fivo-Regular;
  src: url('FivoSansModern-Regular.otf');
}

@font-face {
  font-family: Fivo-Medium;
  src: url('FivoSansModern-Medium.otf');
}

@font-face {
  font-family: Wremena-Bold;
  src: url('Wremena Bold.otf');
}

.header {
  overflow: hidden;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 18px 25px;
}

.header-left {
  width: 100%;
}

.header-right {
  margin-right: -10px;
}

img.animated-gif{
  width: 120px;
  height: auto;
}

.logo {
  max-width: 200px;
}

.copy {
  font-size: 15px;
  font-family: Fivo-Regular;
  line-height: 1.5;
}

.heading {
  font-size: 15px;
  font-family: Fivo-Medium;
  line-height: 1.5;
}

.title {
  font-size: 22px;
  font-family: Wremena-Bold;
  margin-bottom: 20px;
  line-height: 1.3;
}

.container {
  background-color: #FFEEE6;
  height: 93vh;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

/*UTERUS*/

.uterus {
  border-radius: 50%;
  border: 5px solid black;
  background-color: white;
  height: 560px;
  position: relative;
  width: 560px;
}

.bigCircle {
  border-radius: 50%;
  height: 550px;
  position: relative;
  width: 550px;
  top: 4px;
}

.bigCircle-content {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  margin: 5em;
  text-align: center;
}



@supports (shape-outside: circle(50%)) {
  .bigCircle-content {
    height: 100%;
    margin: 0;
    padding: 5px;
  }

  .bigCircle::before,
  .bigCircle-content::before {
    content: "";
    height: 100%;
    width: 50%;
  }

  .bigCircle::before {
    float: left;
    shape-outside: polygon(
      0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%,
      5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%
    );
  }

  .bigCircle-content::before {
    float: right;
    shape-outside: polygon(
      100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%,
      95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%
    );
  }
}


/* BABY */

.circle {
  pointer-events: none;
  position: absolute;
  /*top: 50%;
  left: 50%;*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*border: 4px solid black;*/
  background-color: #DBF0E3;
  /*margin: -39px 0 -39px;*/
  will-change: transform;
}

/* FOOTER */

.footer {
  overflow: hidden;
  /*background-color: #F7F7F7;*/
  width: 100%;
  height: 7vh;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 18px 25px;
}

.footerItem {
  font-family: Fivo-Regular;
  font-size: 16px;
  color: black;
}

.colloquio {
  margin-right: 10px;
}

.prenota {
  margin-left: 10px;
}

.social {
  margin-right: 10px;
}

.footerLeft {
  width: 100%;
}

.footerCenter {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  justify-content: center;
}

.footerRight {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration-line: line-through;
  text-decoration-color: #DBF0E3;
}

a:active {
  color: black;
  text-decoration: none;
}

/* MODAL BOX */

/* The Modal (background) */

#myBtn {
  font-size: 15px;
  font-family: Fivo-Regular;
  border: none;
  background-color: white;
  cursor: pointer;
}

#myModal {
  max-width: 50%;
  height: auto;
  background-color: transparent;
  border: none;
}

button:hover{
  text-decoration-line: line-through;
  text-decoration-color: #DBF0E3;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  overflow: hidden;
  background-color: #fefefe;
  margin-left: 0;
  padding: 20px;
  /*border: 5px solid black;*/
  width: 50%;
  height: 100vh;
}

/* The Close Button */
.close {
  color: #DBF0E3;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.portrait {
  top: -5px;
}

.img {
  width: 100%;
  margin-top: -7px;
}

@media (max-width: 600px) {

  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .copy {
    font-size: 12px;
    line-height: 1.2;
  }

  .title {
    font-size: 19px;
    line-height: 1.1;
  }

  .fontawesome {
    margin-top: 5px;
  }

  .header-left {
    display: flex;
    justify-content: center;
  }

  .header-right {
    display: flex;
    justify-content: center;
  }

  .logo {
    margin-top: 35px;
  }

  .container {
    height: 100%;
    padding: 80px 0;
  }

  .uterus {
    margin-top: 40px;
    height: 440px;
    width: 440px;
    border: 5px solid black;
  }

  .bigCircle {
    height: 410px;
    width: 410px;
  }

  .footer {
    overflow: scroll;
    flex-direction: column;
    height: auto;
  }

  .footerLeft {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .footerCenter {
    margin-bottom: 15px;
  }

  .footerRight {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .social {
    margin-right: 20px;
  }

  .footerItem {
    float: left;
  }

  #myModal {
    max-width: 80%;
  }

  .modal-content {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .img {
    margin-top: 10px;
  }
}
